.body_style
{
    width: 1100px; 
    height: 1800px; 
    margin: 0 auto;
}
.main_layout
{
    background-color: #252a34;   
    color: #eaeaea;
    font-family: 'Noto Sans KR', 'Alegreya Sans SC', sans-serif;
    font-weight:bold;
}
.main_container
{
    height: 100%;
}
.top_container
{
    margin-bottom: 30px;
    margin-top: 30px;
    height:90px; 
    width:100%;
    border-bottom: 1px solid #51555d;
    line-height:30px;
}
.title_style
{
    font-size:28px;
}
.text_style
{
    font-size:20px;
}
#java_graph_container
{
    background-color: white;
}
#java_graph
{
    background-color: darkorange;
}
#javascript_graph_container
{
    background-color: white;
}
#javascript_graph
{
    background-color: #F7E018;
}
#csharp_graph_container
{
    background-color: white;
}
#csharp_graph
{
    background-color: #672179;
}
